.enterForm-mobile {
  display: none;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow-y: hidden;
  z-index: 9;

  &__content {
    width: 400px;
    max-width: 100%;
    position: absolute;
    padding: 40px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
  }

  &__title {
    max-width: 268px;
    width: 100%;
    margin-bottom: 32px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 23px;
  }

  &__input {
    width: 100%;
    padding-left: 24px;
    height: 60px;
    border: 2px solid $bc--main;
    border-radius: $br--main;
    font-family: "regular";
  }
  &__input::placeholder {
    font-size: 16px;
    color: $color-grey;
  }
  &__input:focus {
    outline: none;
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__link {
    text-decoration: none;
    color: $color-blue;
    display: inline-block;
  }
  &__link span {
    border-bottom: 0.5px dotted $color-blue;
  }
}
